In [1]:
import pandas as pd
import datetime as datetime
import numpy as np

In [2]:
date_cols = ['period_start']

In [3]:
#data = pd.read_csv('.\\data\\bq-results-20210604-221012-yqk1glc2ms7w.csv', parse_dates=date_cols)
#data = pd.read_csv('.\\data\\proyectos_analiticos_20210501-20210531.csv', parse_dates=date_cols)
data = pd.read_csv('./proyectos_analiticos_20210501-20210531.csv', parse_dates=date_cols)

In [4]:
len(data)

923653

In [5]:
data

                    period_start  total_slot_ms
0      2021-05-31 23:58:39+00:00            494
1      2021-05-31 23:58:38+00:00            733
2      2021-05-31 23:55:25+00:00            460
3      2021-05-31 23:55:24+00:00           1127
4      2021-05-31 23:55:23+00:00              0
...                          ...            ...
923648 2021-05-01 00:01:43+00:00           4877
923649 2021-05-01 00:01:24+00:00              0
923650 2021-05-01 00:01:23+00:00           6078
923651 2021-05-01 00:00:11+00:00             19
923652 2021-05-01 00:00:10+00:00            117

[923653 rows x 2 columns]

In [6]:
data.dtypes

period_start     datetime64[ns, UTC]
total_slot_ms                  int64
dtype: object

In [7]:
data.columns

Index(['period_start', 'total_slot_ms'], dtype='object')

In [8]:
#data['wd'] = data['period_start'].dt.weekday

In [9]:
datao = data.sort_values('period_start')

In [10]:
datao.head(2)

                    period_start  total_slot_ms
923652 2021-05-01 00:00:10+00:00            117
923651 2021-05-01 00:00:11+00:00             19

In [11]:
datao.tail(2)

               period_start  total_slot_ms
1 2021-05-31 23:58:38+00:00            733
0 2021-05-31 23:58:39+00:00            494

In [12]:
datao.columns

Index(['period_start', 'total_slot_ms'], dtype='object')

In [13]:
datao.dtypes

period_start     datetime64[ns, UTC]
total_slot_ms                  int64
dtype: object

In [14]:
#start_date = '2021-05-01'
#end_date = '2021-05-31'
#mask = (datao['period_start'] >= start_date) & (datao['period_start'] <= end_date)
#datao_filtered = datao.loc[mask]
datao_filtered = datao

In [15]:
len(datao_filtered)

923653

In [16]:
#datao_filtered = datao_filtered[['period_start','total_slot_ms']]
#datasdo_filtered = datasdo_filtered[['period_start','total_slot_ms']]

In [17]:
datao_filtered = datao_filtered.set_index('period_start')

In [18]:
# resampleo cada 5 minutos sumando los milisegundos de slots
datao_resampled = datao_filtered.resample("5T").sum()
#datasdo_resampled = datasdo_filtered.resample("5T").sum()

In [19]:
datao_resampled['wd'] = datao_resampled.index.weekday

In [20]:
datao_resampled

                           total_slot_ms  wd
period_start
2021-05-01 00:00:00+00:00          22071   5
2021-05-01 00:05:00+00:00          23237   5
2021-05-01 00:10:00+00:00          75332   5
2021-05-01 00:15:00+00:00          23044   5
2021-05-01 00:20:00+00:00          28270   5
...                                  ...  ..
2021-05-31 23:35:00+00:00        2915621   0
2021-05-31 23:40:00+00:00        6184550   0
2021-05-31 23:45:00+00:00         181930   0
2021-05-31 23:50:00+00:00          11080   0
2021-05-31 23:55:00+00:00           2814   0

[8928 rows x 2 columns]

In [21]:
# separo datalvo_resampled (dias de semana) y datasdo_resampled (sabados y domingos)
datalvo_resampled = datao_resampled[datao_resampled['wd'] < 5]

datasdo_resampled = datao_resampled[datao_resampled['wd'] >= 5]

In [22]:
len(datalvo_resampled)

6048

In [23]:
len(datasdo_resampled)

2880

In [24]:
datalvo_resampled.head(2)

                           total_slot_ms  wd
period_start
2021-05-03 00:00:00+00:00        1183025   0
2021-05-03 00:05:00+00:00         903794   0

In [25]:
datalvo_resampled.tail(2)

                           total_slot_ms  wd
period_start
2021-05-31 23:50:00+00:00          11080   0
2021-05-31 23:55:00+00:00           2814   0

In [26]:
datasdo_resampled.head(2)

                           total_slot_ms  wd
period_start
2021-05-01 00:00:00+00:00          22071   5
2021-05-01 00:05:00+00:00          23237   5

In [27]:
datasdo_resampled.tail(2)

                           total_slot_ms  wd
period_start
2021-05-30 23:50:00+00:00          94113   6
2021-05-30 23:55:00+00:00        1748402   6

In [28]:
datasdo_resampled.iloc[2]

total_slot_ms    75332
wd                   5
Name: 2021-05-01 00:10:00+00:00, dtype: int64

In [29]:
datalvo_resampled['time'] = np.arange(len(datalvo_resampled))
datasdo_resampled['time'] = np.arange(len(datasdo_resampled))

<ipython-input-29-ce2fa80fa5cf>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datalvo_resampled['time'] = np.arange(len(datalvo_resampled))
<ipython-input-29-ce2fa80fa5cf>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datasdo_resampled['time'] = np.arange(len(datasdo_resampled))

In [32]:
datalvo_resampled = datalvo_resampled[['time','total_slot_ms']]
datasdo_resampled = datasdo_resampled[['time','total_slot_ms']]

In [33]:
datalvo_resampled.to_csv('./proyectos_analiticos_20210501-20210531_no_weekends_resampled.csv', index=False)

In [34]:
datasdo_resampled.to_csv('./proyectos_analiticos_20210501-20210531_weekends_resampled.csv', index=False)